* {
 margin: 0;   
}
h1 {
    font-size: 4rem;
}
.screen {
    border: solid 1px black;
    display: grid;

    width: 100%;
    height: 100%;
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-between; */
}
/* .row {
    display: flex;
} */
/* .square {
    align-self: center;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
    border: none;
} */
/* .square:hover {
    cursor: pointer;
    background-color: #ddd;
} */